@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Raleway&display=swap');
		html, body {
			height: 100%;
			margin: 0;
			font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
		}
				
		#container {
			display: flex;
			flex-direction: row;
			height: 100%;
		}
 					
		#map {
			width: 60%;
			min-height: 100%;
			font-family: 'Nanum Gothic', sans-serif; 
		}

		#CAIC {
			font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
			text-align: center;
			margin: 0.25em;
		}

		.info { padding: 6px 8px; font: 14px/16px, 'Nanum Gothic', Arial, Helvetica, sans-serif;  
			background-color: #eff0fadf; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); border-radius: 5px; } 
		.info h4 { margin: 0 0 5px; color: #777; }
		.legend { text-align: left; line-height: 18px; color: #938b8b; } 
		.legend i { width: 18px; height: 18px; float: left; margin-right: 0px; opacity: 0.7; }
		.leaflet-popup-content-wrapper, .leaflet-popup.tip {
			background-color: #eff0fadf;
			padding: 4px;
			border-radius: 5px;
		}

		#side-panel {
			width: 40%;
			height: 100%;
			overflow: auto;
			background-color: #CDCED7;
		}
		#chart-area, #chart-travel, #chart-rose, #chart-mode {
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
			background-color: #fbfbfcdf;
			border: 1px solid rgba(57, 57, 70, 0.875);
		}
		
		#bar-chart,#barChartCanvas, #rose, #bar-chart-mode {
			height: 250px;
		}
		
		#cmcLogo{
			background-image: url("images/cmc.png");
			background-size: 120px, 30px;
			background-repeat: no-repeat;
			width: 120px;
			height: 30px;
			margin-bottom: -5px;
		}

		#cmcLogo .text{
			visibility: hidden;
		}

		#cmcLogo:hover{
			background-image: none;
			width: auto;
			height: auto;
			margin-bottom: -12px;
		}

		#cmcLogo:hover .text{
			visibility:visible;
			font-size: 11px;
		}
		
		#reportrange {
			background: #fff;
			cursor: pointer; 
		    font-family: Nanum Gothic;
			font-size: 12px;
			text-align: center;
			margin-left: 80px;
			margin-top: 10px;
			padding: 5px 10px;
			border: 1px solid #ccc;
			position: relative;
			width: 200px;
			z-index:1000;
		}

		/* Avalanche Rose CSS */
		.chart-title {
			text-align: center;
			color: black;
		}

		#chart-rose {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.chart-wrapper {
			border-radius: 3px;
			margin-bottom: 10px;
			overflow: none;
			max-height: 100%;
		}
		
		.chart-wrapper .chart-title {
			color: black;
			font-size: 12px;
			font-weight: 200;
			padding: 7px 10px 4px;
		}

		.chart-stage {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.chart-stage a {
			color: black;
		}
		
		.chart-wrapper .chart-footer {
			border-top: 1px solid #d7d7d7;
			color: #666;
			font-size: 14px;
			font-weight: 200;
			padding: 7px 10px 4px;
		}

		.avy-rose-part {
			fill: #e4e3e4;
			stroke: black;
			stroke-miterlimit: 10;
			cursor: pointer;
		}
		
		.avy-rose-part.hovered {
			fill: #e7e7e7;
		}
		
		.avy-rose-part.not-selected {
			fill: white;
		}
		
		.avy-rose-part text {
			fill: black;
			font-size: 26px;
			cursor: pointer;
		}
		
		.cardinal-direction {
			font-size: 35px;
		}
		
		.rose-multiselector {
			cursor: pointer;
		}

		a.rose-multiselector {
			font-size: 12px;
			color: #666666;
			text-decoration: none;
		}

		

		/* Responsive display CSS */
		@media (max-width: 767px) {
			.page-switch-icon {
				display: block;
			}
		}

		/* When the browser is 820px or less */
		@media (max-width: 820px) {
			.col-sm-8>.tooltip {
				display: none !important;
			}
			#container {
				background-color: pink;
				flex-direction: column;
				width: 100%;
				min-height: 50%;
			}
			#map {
				width: 100%;
				min-height: 60%;
			}
			#side-panel {
				width: 100%;
				min-height: 40%;
			}
		}