@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Raleway&display=swap');
		html, body {
			height: 100%;
			margin: 0;
			font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
		}
				
		#container {
			display: flex;
			flex-direction: row;
			height: 100%;
		}
 					
		#map {
			width: 50%;
			min-height: 100%;
			font-family: 'Nanum Gothic', sans-serif; 
		}

		#CAIC {
			font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
			text-align: center;
			margin: 0.25em;
		}

		.info { padding: 6px 8px; font: 14px/16px, 'Nanum Gothic', Arial, Helvetica, sans-serif;  
			background-color: #eff0fadf; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); border-radius: 5px; } 
		.info h4 { margin: 0 0 5px; color: #777; }
		.legend { text-align: left; line-height: 18px; color: #938b8b; } 
		.legend i { width: 18px; height: 18px; float: left; margin-right: 0px; opacity: 0.7; }
		.leaflet-popup-content-wrapper, .leaflet-popup.tip {
			background-color: #eff0fadf;
			padding: 4px;
			border-radius: 5px;
		}

		#side-panel {
			width: 50%;
			height: 100%;
			overflow: auto;
			background-color: #CDCED7;
		}

		#title-block {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		#about-help {
			display: flex;
			justify-content: space-around;
		}

		.btn-info {
			font-size: 10pt;
			font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
			color: black;
			text-decoration: none;
			cursor: pointer;
			border-radius: 5px;
			background-color: #fbfbfcdf;
			border: 1px solid rgba(57, 57, 70, 0.875);
			padding: 2px 5px;
			height: 16px;
		}

		#controlBundle {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		#resetFiltersBtn {
			font-size: 11pt;
			cursor: pointer;
			border-radius: 5px;
			background-color: #fbfbfcdf;
			border: 1px solid rgba(57, 57, 70, 0.875);
			padding: 3px 4px;
			height: 25px;
		}

		#chart-area, #chart-travel, #chart-rose, #chart-mode, #chart-r, #chart-d, #reportrange {
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
			background-color: #fbfbfcdf;
			border: 1px solid rgba(57, 57, 70, 0.875);
		}

		#bar-chart,#barChartCanvas, #rose, #bar-chart-mode, #pie-r, #pie-d {
			height: 250px;
		}
		
		.pink-box {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: space-around;
		}

		#caicLogo{
			background-image: url("images/co_dnr_pr_caic_cmyk.png");
			background-size: 120px, 30px;
			background-repeat: no-repeat;
			width: 120px;
			height: 30px;
			margin-bottom: -5px;
		}

		#cmcLogo{
			background-image: url("images/cmc.png");
			background-size: 120px, 30px;
			background-repeat: no-repeat;
			width: 120px;
			height: 30px;
			margin-bottom: -5px;
		}

		#cmcLogo .text{
			visibility: hidden;
		}

		#cmcLogo:hover{
			background-image: none;
			width: auto;
			height: auto;
			margin-bottom: -12px;
		}

		#cmcLogo:hover .text{
			visibility:visible;
			font-size: 11px;
		}

		a:link {
			text-decoration: none;
			color: #5d5d5d;
		  }

		a:visited {
			text-decoration: none;
			color: #5d5d5d;
		  }
		
		#reportrange {
			cursor: pointer; 
		    font-family: Nanum Gothic;
			font-size: 12px;
			text-align: center;
			margin-top: 6px;
			min-width: 200px;
			z-index:1000;
		}

		.fa-calendar{
			position: absolute;
			left: 10px;
			top: calc(50% - 0.5em);
		}

		.fa-caret-down{
			position: absolute;
			right: 12px;
			top: calc(50% - 0.6em);
		}

		input{
			padding-left: 17px;
		}

		.input-wrapper{
			position: relative;
		}

		.daterangepicker {
			font-family: Nanum Gothic;
			background-color: #fbfbfcdf;
		}

		/* Avalanche Rose CSS */
		.chart-title {
			text-align: center;
			color: black;
		}

		#chart-rose {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 2;
		}

		.chart-wrapper {
			border-radius: 3px;
			margin-bottom: 10px;
			overflow: none;
			max-height: 100%;
		}
		
		.chart-wrapper .chart-title {
			font-size: 12px;
			font-weight: bold;
			padding: 7px 10px 4px;
			color: #666666;
		}

		.chart-stage {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.chart-stage a {
			color: black;
		}
		
		.chart-wrapper .chart-footer {
			border-top: 1px solid #d7d7d7;
			color: #666;
			font-size: 14px;
			font-weight: 200;
			padding: 7px 10px 4px;
		}

		.avy-rose-part {
			fill: #d4d4d4;
			stroke: black;
			stroke-miterlimit: 10;
			cursor: pointer;
		}
		
		.avy-rose-part.hovered {
			fill: #ececec;
		}
		
		.avy-rose-part.not-selected {
			fill: white;
		}
		
		.avy-rose-part text {
			fill: black;
			font-size: 26px;
			cursor: pointer;
		}
		
		.cardinal-direction {
			font-size: 35px;
		}
		
		.rose-multiselector {
			cursor: pointer;
		}

		a.rose-multiselector {
			font-size: 12px;
			color: #666666;
			text-decoration: none;
		}



		#loading-overlay {
			position: absolute;
			height: 100vh;
			width: 100vw;
			background-color: rgba(100, 100, 100, 0.5);
			z-index: 99999;
			display: flex;
			font-size: 4rem;
			justify-content: center;
			align-items: center;
		}
		#loading-overlay.hidden {
			display: none !important;
		}

		#pies {
			width:100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
		}

		/* Responsive display CSS */
		@media (max-width: 767px) {
			.page-switch-icon {
				display: block;
			}
		}

		/* When the browser is 820px or less */
		@media (max-width: 820px) {
			.col-sm-8>.tooltip {
				display: none !important;
			}
			#container {
				flex-direction: column;
				width: 100%;
				min-height: 50%;
			}
			#map {
				width: 100%;
				min-height: 50%;
			}
			#side-panel {
				width: 100%;
				min-height: 50%;
			}
			#pies {
				width: 100%;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: stretch;
			}
		}